.container {
    font-family: sans-serif;
    background-color: #e1b027;
    margin-top: 60px;
}

.container2 {
    font-family: sans-serif;
    background-color: white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}